DJANGO_DEBUG=False
DJANGO_SECRET_KEY=uuid-goes-here
DJANGO_MANAGEPY_MIGRATE=True
DJANGO_MANAGEPY_COLLECTSTATIC=True
S3_BUCKET_NAME=rabbitbird-static
STATICFILES_BASE_URL=https://{BUCKET_NAME}.s3.amazonaws.com/{STATICFILES_PATH_PREFIX}
STATICFILES_PATH_PREFIX=cats-who-code/static
MEDIAFILES_BASE_URL=https://{BUCKET_NAME}.s3.amazonaws.com/{MEDIAFILES_PATH_PREFIX}
MEDIAFILES_PATH_PREFIX=cats-who-code/media
DB_NAME=catswhocode_prod
DB_USER=catswhocode
DB_PASSWORD=secure-passsowrd-here
DB_HOST=rds-host-here
DB_PORT=3306
CACHE_HOST=redis-host-here
CACHE_PORT=6379
